<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryota.demo.mapper.OfficeHouseApplyMasterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ryota.demo.entity.OfficeHouseApplyMaster">
        <id column="ID" property="id" />
        <result column="OLD_ID" property="oldId" />
        <result column="FILLED_BY" property="filledBy" />
        <result column="FILLED_BY_ORG" property="filledByOrg" />
        <result column="FILLED_BY_ORG_ID" property="filledByOrgId" />
        <result column="FILLED_DATE" property="filledDate" />
        <result column="TITLE" property="title" />
        <result column="REMARK" property="remark" />
        <result column="DEPARTMENT_LEADER" property="departmentLeader" />
        <result column="DISCIPLINE_GROUP" property="disciplineGroup" />
        <result column="HF_OFFICE" property="hfOffice" />
        <result column="PROCESS_ID" property="processId" />
        <result column="PROCRSS_STATUS" property="procrssStatus" />
        <result column="IS_TURN_DOWN" property="isTurnDown" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CURRENT_WORK_ITEM_ID" property="currentWorkItemId" />
        <result column="CURRENT_PERSON" property="currentPerson" />
        <result column="CURRENT_PERSON_ID" property="currentPersonId" />
        <result column="CREATOR_ID" property="creatorId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_BY" property="updateBy" />
        <result column="UPDATE_ID" property="updateId" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="ENGINE_TYPE" property="engineType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, OLD_ID, FILLED_BY, FILLED_BY_ORG, FILLED_BY_ORG_ID, FILLED_DATE, TITLE, REMARK, DEPARTMENT_LEADER, DISCIPLINE_GROUP, HF_OFFICE, PROCESS_ID, PROCRSS_STATUS, IS_TURN_DOWN, CREATE_BY, CURRENT_WORK_ITEM_ID, CURRENT_PERSON, CURRENT_PERSON_ID, CREATOR_ID, CREATE_TIME, UPDATE_BY, UPDATE_ID, UPDATE_TIME, ENGINE_TYPE
    </sql>

</mapper>
